@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models
@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
<ul class="breadcrumb">
    @foreach (var node in Model)
    { 
        <li>
            @Metro.Icon(node.ImageUrl)
            @Html.DisplayFor(m => node)
            @if (node != Model.Last())
            {
                @Metro.Icon("icon-angle-right")
            }
        </li>
    }
</ul>
