@model IEnumerable<WebUI.Helpers.Notifications.Notification>
@if (Model != null && Model.Count() > 0)
{
    <div class="row-fluid">
        @Html.DisplayForModel()
        @*@foreach (WebUI.Helpers.Notifications.Notification notification in Model)
        {
            @Html.DisplayFor(x => notification);
        }*@
    </div>
}
