@model WebUI.Models.Default.Search
@{
    ViewBag.Title = "Search";
    ViewBag.SubTitle = Model.Query;
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row-fluid">
    <p>Search....</p>
</div>
