@model WebUI.Models.Error.ErrorDetails
@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewBag.Title = "Server Error";
    ViewBag.Subtitle = String.Format("{0} Error", Model.Code);
}
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid page-500">
            <div class="span5 number">@Model.Code</div>
            <div class="span7 details">
                <h3>An internal error occured.</h3>
                <p>The problem has bee recorded and will be fixed as soon as possible.</p>
            </div>
        </div>
    </div>
</div>