<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="Environment" value="AppHarbor" xdt:Transform="Insert"/>
    </appSettings>
    <connectionStrings xdt:Transform="Replace">
        <!--
            This will be auto-populated on AppHarbor's end, just make sure you specified the below alias
            https://sequelizer.apphb.com/database/edit
        -->
        <add name="DefaultConnection" connectionString="Server=1b19c59f-9c5a-498b-9438-a209000c4259.sqlserver.sequelizer.com;Database=db1b19c59f9c5a498b9438a209000c4259;User ID=wjruqqsjilbnlpce;Password=fcpUuPLwVWuZpdKAPfXc6guKtGPtDMxHLuDya4XnStaXs3gpXJYwUco8PMzU8sZh;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <customErrors mode="On" xdt:Transform="SetAttributes(mode)" />
    </system.web>
    <entityFramework xdt:Transform="Replace">
        <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
            <parameters>
                <parameter type="String" value="connectionStringGoesHere" />
            </parameters>
        </defaultConnectionFactory>-->
        <contexts>
            <context type="DAL.DataContext, DAL">
                <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[DAL.DataContext, DAL],[DAL.Migrations.Configuration, DAL]], EntityFramework"></databaseInitializer>
            </context>
        </contexts>
    </entityFramework>
</configuration>