<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <!--
        In the example below, the "SetAttributes" transform will change the value of 
        "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
        finds an atrribute "name" that has a value of "MyDB".
    
        
    -->
    <connectionStrings>
        <!-- Change this to the database you'll be using for production -->
        <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Dashboard;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\DataContext.mdf" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
    <entityFramework xdt:Transform="Replace">
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    </entityFramework>
</configuration>