<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <!--
        In the example below, the "SetAttributes" transform will change the value of 
        "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
        finds an attribute "name" that has a value of "MyDB".
    -->
    <connectionStrings>
        <!-- Change this to the database you'll be using for production -->
        <!--
            This will be auto-populated on AppHarbor's end, just make sure you specified the below alias
            https://sequelizer.apphb.com/database/edit
        -->
        <add name="DefaultConnection" connectionString="" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </connectionStrings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <customErrors mode="On" xdt:Transform="SetAttributes(mode)" />
    </system.web>
    <entityFramework xdt:Transform="Replace">
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
            <parameters>
                <parameter xdt:Transform="RemoveAll"/>
            </parameters>
        </defaultConnectionFactory>
    </entityFramework>
</configuration>