<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
    <!--
        In the example below, the "SetAttributes" transform will change the value of 
        "connectionString" to use "ReleaseSQLServer" only when the "Match" locater 
        finds an attribute "name" that has a value of "MyDB".
    -->
    <connectionStrings>
        <!-- Change this to the database you'll be using for production -->
        <add name="DefaultConnection" connectionString="Server=tcp:fzabnrx8a2.database.windows.net,1433;Database=bc-dashboard;User ID=bc-dashboard@fzabnrx8a2;Password=stang54[[;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString,providerName)" xdt:Locator="Match(name)" />
        <add name="ElmahLoggingConnection" connectionString="Server=tcp:fzabnrx8a2.database.windows.net,1433;Database=elmah-logging;User ID=bc-dashboard@fzabnrx8a2;Password=stang54[[;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" xdt:Transform="Insert" />
    </connectionStrings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <customErrors mode="Off" xdt:Transform="SetAttributes(mode)" />
    </system.web>
    <entityFramework xdt:Transform="Replace">
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
            <parameters>
                <parameter xdt:Transform="RemoveAll"/>
            </parameters>
        </defaultConnectionFactory>
    </entityFramework>
    <elmah>
        <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ElmahLoggingConnection" applicationName="Dashboard" xdt:Transform="Insert" />
    </elmah>
</configuration>